# Porta da Aplicação
PORT=

# URL do Supabase
SUPABASE_URL=
# Chave Anon do Supabase
SUPABASE_ANON_KEY=
# Chave de Serviço do Supabase
SUPABASE_SERVICE_KEY=

# Hash Salt para Senhas
# O número de rounds para o bcrypt, quanto maior o número, mais seguro, mas mais lento
SALT_ROUNDS=